
      <div class="main-content container">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default panel-table">
              <div class="panel-heading"><span class="box-title">Movimentações - Conta <%= @account_bank.number_account %> - Agência <%= @account_bank.agency_bank.number_agency %></span>
                <div class="pull-right">
                 
                  <div class="tools pull-right" style="margin-top: -8px"><%= link_to account_banks_path do %><button class="btn btn-rounded btn-primary">Voltar</button><% end %></div>
               </div>
              </div>
              <div class="panel-body">
          
                  <table id="transaction-table", data-source="<%= account_bank_path(format: :json) %>" class="table table-striped table-bordered dt-responsive nowrap display"  cellspacing="0" width="100%">


                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Tipo</th>
                      <th>Valor</th>
                      <th>Usuário</th>
                      <th class="noExport"></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

