<div class="main-content container">
	<div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading panel-heading-divider">Editar usuário<span class="panel-subtitle">Edite os campos e salve para realizar a alteração</span></div>
	      	<%= render 'form', user: @user %>
	    </div>
	  </div>
	</div>
</div>
