<div class="main-content container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-divider">Ações<span class="panel-subtitle">O que você deseja fazer?</span></div>
              <div class="panel-body">
               
                <div class="mt-1 mb-1 text-center">
                  <button class="btn btn-space btn-primary btn-big"><i class="icon s7-home"></i> transferências  </button>
                  <%=link_to deposit_path do %>
                  <button class="btn btn-space btn-info btn-big"><i class="icon s7-diamond"></i> Deposito </button><% end %>
                  <button class="btn btn-space btn-warning btn-big"><i class="icon s7-mail"></i> Saque </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
