
<div class="main-content container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-divider">Efetuar Transferência</div>
          <div class="panel-body">
             <%= form_with url: money_transfer_path, local: true do |f| %>


                <div class="form-group row">
                   <label class="col-sm-3 col-form-label text-right">Número da Conta (De)</label>
                   <div class="col-sm-6">
                      <%= f.number_field :number_account, class: 'form-control', id: "account" %>
                      <small id="receber_infos"></small>
                   </div>
                </div>

                <div class="form-group row">
                   <label class="col-sm-3 col-form-label text-right">Número da Conta (Para)</label>
                   <div class="col-sm-6">
                      <%= f.number_field :number_account_destination, class: 'form-control', id: "account_d" %>
                      <small id="receber_infos_d"></small>
                   </div>
                </div>

                <div class="form-group row">
                   <label class="col-sm-3 col-form-label text-right">Valor</label>
                   <div class="col-sm-6">
                      <%= f.text_field :price, class: 'form-control' %>
                   </div>
                </div>
               
                <div class="form-group row">
                   <div class="col-sm-6">
                      <button type="submit" class="btn btn-space btn-primary ">Salvar</button>
                      <%#= link_to agency_banks_path do %><button type="button" class="btn btn-space btn-secondary">Voltar</button><%# end %>
                   </div>
                </div>
             <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
