<div class="main-content container">
	<div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading panel-heading-divider">Nova agência<span class="panel-subtitle">Preencha os campos e salve para realizar um novo cadastro</span></div>
	      	<%= render 'form', agency_bank: @agency_bank %>
	    </div>
	  </div>
	</div>
</div>
