  	<section>
        <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="profile-nav alt" >
                     <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                           <h1>December 14</h1>
                           <p class="text-left">2014, Friday</p>
                           <p class="text-left">7:53 PM</p>
                        </div>
                        <ul id="clock">
                           <li id="sec"></li>
                           <li id="hour"></li>
                           <li id="min"></li>
                        </ul>
                        <div style="height: 15px;"></div>
                     </section>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget-indicators" style="height: 277px">
                     <div class="widget-head">
                        <span class="title">Saldo Total<br><small>Todas as contas</small></span>
                     </div>
                     <div class="number text-center">R$ 20,000</div>
                     <div class="canvas-saldo">
                        <canvas id="chart-0"></canvas>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget-indicators" style="height: 277px">
                     <div class="widget-head">
                        <span class="title">Atalhos do Sistema</span>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Cadastrar Agência
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">CTRL + X</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerenciar Usuários
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">CTRL + X</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerenciar Usuários
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">CTRL + X</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerenciar Usuários
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">CTRL + X</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerencias Agência
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">CTRL + X</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </section>
