  	<section>
        <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="profile-nav alt" >
                     <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                           <h1><%= l Time.now, format: :week_format %></h1>
                           <p class="text-left"><%= l Time.now, format: :hour %></p>
                        </div>
                        <ul id="clock">
                           <li id="sec"></li>
                           <li id="hour"></li>
                           <li id="min"></li>
                        </ul>
                        <div style="height: 15px;"></div>
                     </section>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget-indicators" style="height: 277px">
                     <div class="widget-head">
                        <span class="title">Saldo Total<br><small>Todas as contas</small></span>
                     </div>
                     <div class="number text-center">R$ 20,000</div>
                     <div class="canvas-saldo">
                        <canvas id="chart-0"></canvas>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget-indicators" style="height: 277px">
                     <div class="widget-head">
                        <span class="title">Atalhos do Sistema</span>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerenciar Agências
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">Control+Shift+A</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Gerenciar Contas
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">Control+Shift+L</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Realizar Transfêrencia
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">Control+Shift+S</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Realizar Saque
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">Control+Shift+F</span>
                        </div>
                     </div>
                     <div class="indicator-item">
                        <div class="indicator-item-icon">
                           Realizar Deposito
                        </div>
                        <div class="indicator-item-value"><span class="indicator-value-counter">Control+Shift+X</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </section>
